{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="card">
    <div class="col-lg-12">
       
        
            <div class="card-header">
                <h4 class="card-title">Clients</h4>
                <a class="btn btn-success pull-right m-2 pull-left"  href=" {% url 'createclient' %}">Add Client</a></div>
                
                  
            </div>
            
            <div class="card-body">
               
                <div class="table-responsive">
                    <table class="table mb-0">

                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Industry</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for client in clients %}
                              
                            
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{client.name}}</td>
                                <td>{{client.industry}}</td>
                               <td>
                                    
                                    <a href="{% url 'clientupdate' client.id %}" ><i class="fas fa-edit"></i></a>
                                    <a href=" {% url 'clientdelete' client.id %}""><i class="fas fa-trash-alt"></i></a>
                                   
                                </td>
                            
                               
                            </tr>
                            
                            {% endfor %}
                              
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    
    
  
       
</div>
  
{% endblock content %}